#-------------------------
# Operating Specific Junk Files
#-------------------------

# OS X
.DS_Store
.AppleDouble
.LSOverride

# OS X Thumbnails
._*

Thumbs.db
ehthumbs.db
Desktop.ini

$RECYCLE.BIN/

*.cab
*.msi
*.msm
*.msp
*.lnk

# Linux
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

.env

#-------------------------
# Temporary Files
#-------------------------
writable/cache/*
!writable/cache/index.html
!writable/cache/.htaccess

writable/logs/*
!writable/logs/index.html
!writable/logs/.htaccess

writable/uploads/*
!writable/uploads/index.html
!writable/uploads/.htaccess

#-------------------------
# Composer
#-------------------------
vendor/
composer.lock

#-------------------------
# IDE / Development Files
#-------------------------

# Modules Testing
_modules/*

# phpenv local config
.php-version

# Jetbrains editors (PHPStorm, etc)
.idea/
*.iml

# Netbeans
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/api/

# Visual Studio Code
.vscode/

